apiVersion: v1
clusters:
- cluster:
    server: "{{KUBE_API_ENDPOINT}}"
    certificate-authority-data: "{{CERT}}"
  name: acyl-nitro-integration
contexts:
- context:
    cluster: acyl-nitro-integration
    user: acyl-integration-tests
  name: acyl-nitro-integration
current-context: acyl-nitro-integration
kind: Config
preferences: {}
users:
- name: acyl-integration-tests
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "acyl-nitro-integration"
        # - "-r"
        # - "<role-arn>"
