<html lang="en">
    <head>
        {{ template "header-head" . }}
        <script type="text/javascript">
            const apiBaseURL = "{{ .APIBaseURL }}";
        </script>
        <style>
            .help-docs {
                font-weight: bold;
                flex-wrap: wrap;
                padding-top: 15px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: 15px;
                margin-right: 15px;
            }
        </style>
    </head>
    <body class="acyl-ui">
        {{ template "header-nav" . }}
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ .APIBaseURL }}/ui/home">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page" id="bc-help">Help</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col help-docs bg-light text-dark rounded">
                    <h3>
                        Help & Documentation
                    </h3>
                    <ul id="ulHelpDocumentation">
                        <li>
                            <a target="_blank" href="{{ .APIBaseURL }}/ui/swagger/index.html">API Documentation</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/dollarshaveclub/acyl/wiki/User-Guide">User Guide</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/dollarshaveclub/acyl/wiki/Acyl.yml-V2-Specification">Nitro v2 Specification</a>
                        </li>
                    </ul>
                    {{ if ne (len .Branding.AdditionalDocURLs) 0 }}
                    <h5 id="hAdditionalResources">
                        Additional Resources
                    </h5>
                    <ul id="ulAdditionalResources">
                        {{ range $name, $url := .Branding.AdditionalDocURLs }}
                        <li>
                            <a target="_blank" href="{{ $url }}">{{ $name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ template "footer-scripts" . }}
    </body>
</html>