<html>
    <head>
        {{ template "header-head" . }}
        <script type="text/javascript">
            const apiBaseURL = "{{ .APIBaseURL }}";
        </script>
    </head>
    <body class="acyl-ui">
        {{ template "header-nav" . }}
        <div class="container-fluid">
            <div class="row flex-nowrap p-3 mb-2 bg-light text-dark">
                <div class="col">
                    <strong>
                        <h3>
                            Help & Documentation
                        </h3>
                        <ul id="ulHelpDocumentation">
                            <li>
                                <a target="_blank" href="{{ .APIBaseURL }}/ui/swagger/index.html">API Documentation</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/dollarshaveclub/acyl/wiki/User-Guide">User Guide</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/dollarshaveclub/acyl/wiki/Acyl.yml-V2-Specification">Nitro v2 Specification</a>
                            </li>
                        </ul>
                        {{ if ne (len .Branding.AdditionalDocURLs) 0 }}
                        <h5 id="hAdditionalResources">
                            Additional Resources
                        </h5>
                        <ul id="ulAdditionalResources">
                            {{ range $name, $url := .Branding.AdditionalDocURLs }}
                            <li>
                                <a target="_blank" href="{{ $url }}">{{ $name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </strong>
                </div>
            </div>
        </div>
        {{ template "footer-scripts" . }}
    </body>
</html>