<html lang="en">
  <head>
    {{ template "header-head" . }}
    <link
            href="{{ .APIBaseURL }}/ui/static/status.css"
            rel="stylesheet"
    />
    <style>
      .pod-logs-heading {
        font-weight: bold;
      }

      .pod-logs {
        font-family: monospace;
        font-size: small;
      }
    </style>
    <script type="text/javascript">
      const urlParams = new URLSearchParams(window.location.search);
      const event_id = urlParams.get("id");

      const apiBaseURL = "{{ .APIBaseURL }}";
      const logKey = "{{ .LogKey }}";
      const statusEndpoint = `${apiBaseURL}/v2/event/${event_id}/status`;
      const logsEndpoint = `${apiBaseURL}/v2/event/${event_id}/logs`;
    </script>
  </head>
  <body class="acyl-ui">
    {{ template "header-nav" . }}
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ .APIBaseURL }}/ui/home">Home</a></li>
              <li class="breadcrumb-item" aria-current="page" id="bc-envname">n/a</li>
              <li class="breadcrumb-item active" aria-current="page" id="bc-eventid"></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="envTreeHeading">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link text-dark btn-lg"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseEnvTree"
                    aria-expanded="true"
                    aria-controls="collapseEnvTree"
                  >
                    Environment Tree
                  </button>
                </h2>
              </div>
              <div
                id="collapseEnvTree"
                class="collapse show"
                aria-labelledby="envTreeHeading"
              >
                <div class="card-body p-0">
                  <div class="row">
                    <div
                      class="col d-flex justify-content-center overflow-auto acyl-tree"
                      id="envtree"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="k8sNamespacePodsHeading">
                <h2 class="mb-0">
                  <button
                          class="btn btn-link text-dark btn-lg"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapseK8sNamespacePods"
                          aria-expanded="true"
                          aria-controls="collapseK8sNamespacePods"
                          id="k8sNamespaceButton"
                  >
                    Kubernetes Namespace <img class="mb-1" src="{{ .APIBaseURL }}/ui/static/k8sicon.svg" width="20" height="20">
                  </button>
                </h2>
              </div>
              <div
                      id="collapseK8sNamespacePods"
                      class="collapse"
                      aria-labelledby="k8sNamespacePodsHeading"
              >
                <div class="card-body p-0">
                  <div
                          class="overflow-auto p-4"
                          id="k8sNamespacePodsContainer"
                  >
                    <table
                            id="k8sNamespacePodTable" class="table table-sm table-striped table-dark m-0"
                    >
                      <tbody id="k8sNamespacePodTableBody">
                      </tbody>
                    </table>
                    <div id="podLogsGroup" class="btn-group btn-group-sm">
                      <div
                              class="modal fade"
                              id="podLogModal"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="podLogModal"
                              aria-hidden="true"
                      >
                        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                          <div class="modal-content text-light bg-dark">
                            <div class="modal-header">
                              <div class="container">
                                <div class="row">
                                  <div class="col-sm">
                                    <label id="podLogModalLabel">
                                      <h6 class="modal-title overflow-auto pod-logs-heading" id="podLogModalHeading">
                                        Logs:
                                      </h6>
                                    </label>
                                  </div>
                                  <div class="col-sm-2-push">
                                    <label id="podContainerLabel">
                                      <h6 class="modal-title overflow-auto pod-logs-heading" id="podContainerHeading">
                                        Container:
                                      </h6>
                                    </label>
                                  </div>
                                  <div class="col-sm-4">
                                    <form>
                                      <div class="form-group" id="selectContainerGroup">
                                        <select class="form-control" id="selectContainerMenu" onchange="containerSelected()">
                                        </select>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <button
                                      type="button"
                                      class="close text-light"
                                      data-dismiss="modal"
                                      aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body overflow-auto pod-logs">
                              <div
                                      class="container-body pod-logs"
                                      id="podLogsBody"
                              >
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button
                                      type="button"
                                      class="btn-sm btn-secondary"
                                      data-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                      type="button"
                                      class="btn-sm btn-primary"
                                      id="podLogModalRefresh"
                              >
                                Refresh
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="detailsHeading">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link text-dark btn-lg"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseDetails"
                    aria-expanded="true"
                    aria-controls="collapseDetails"
                  >
                    Event Details
                  </button>
                </h2>
              </div>
              <div
                id="collapseDetails"
                class="collapse"
                aria-labelledby="detailsHeading"
              >
                <div class="card-body p-0">
                  <div id="cfg-table-div">
                    <table
                      class="table table-sm table-striped table-hover acyl-table__events m-0"
                    >
                      <tbody>
                        <tr>
                          <th scope="row">Event Type</th>
                          <td id="event-type"></td>
                        </tr>
                        <tr>
                          <th scope="row">Status</th>
                          <td id="event-status"></td>
                        </tr>
                        <tr>
                          <th scope="row">Pull Request</th>
                          <td><a id="trepo-pr-link" href=""></a></td>
                        </tr>
                        <tr>
                          <th scope="row">GitHub User</th>
                          <td><a id="trepo-user-link" href=""></a></td>
                        </tr>
                        <tr>
                          <th scope="row">Branch</th>
                          <td id="trepo-branch"></td>
                        </tr>
                        <tr>
                          <th scope="row">Revision</th>
                          <td id="trepo-revision"></td>
                        </tr>
                        <tr>
                          <th scope="row">Environment Name</th>
                          <td id="env-name"></td>
                        </tr>
                        <tr>
                          <th scope="row">Kubernetes Namespace</th>
                          <td id="k8s-ns"></td>
                        </tr>
                        <tr>
                          <th scope="row">Config Processing Duration</th>
                          <td id="config-processing-duration"></td>
                        </tr>
                        <tr>
                          <th scope="row">Event Started</th>
                          <td id="event-started-time"></td>
                        </tr>
                        <tr>
                          <th scope="row">Event Completed</th>
                          <td id="event-completed-time"></td>
                        </tr>
                        <tr>
                          <th scope="row">Elapsed</th>
                          <td id="event-elapsed"></td>
                        </tr>
                      </tbody>
                    </table>
                    <hr class="m-0" />

                    <h4 class="acyl-ref-map-title pt-4">Reference Map</h4>
                    <table
                      id="refmap-table"
                      class="table table-sm table-striped table-hover mb-0 acyl-table__refs"
                    >
                      <tbody>
                        <tr id="refmap-table-header">
                          <th scope="col">Repo</th>
                          <th scope="col">Ref</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-5">
              <div class="card-header" id="logsHeading">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link text-dark btn-lg"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseLogs"
                    aria-expanded="true"
                    aria-controls="collapseLogs"
                  >
                    Debug Logs
                  </button>
                </h2>
              </div>
              <div
                id="collapseLogs"
                class="collapse"
                aria-labelledby="logsHeading"
              >
                <div class="card-body p-0">
                  <div
                    class="overflow-auto acyl-logs p-4"
                    id="logsContainer"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{ template "footer-scripts" . }}
  <script
          type="text/javascript"
          src="{{ .APIBaseURL }}/ui/static/status.js"
  ></script>
  </body>
</html>
