<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Failed Environment: {{ .EnvName }}</title>
  </head>
  <body>
    <h1>Failed Environment: {{ .EnvName }}</h1>
    <p>
        <div class="container ml-2">
            <table class="table table-bordered table-sm">
                <tbody>
                    <tr>
                        <th scope="row">Pull Request</th>
                        <td><a href="{{ .PullRequestURL }}">{{ .PullRequestURL }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Started</th>
                        <td>{{ .StartedTime }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Failed</th>
                        <td>{{ .FailedTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p>
    <h3>Failed Resources</h3>
    {{ $fdcnt := len .CError.FailedDeployments }}
    {{ $fjcnt := len .CError.FailedJobs }}
    {{ $fdscnt := len .CError.FailedDaemonSets }}
    <p>
        <ul>
            {{ if gt $fdcnt 0 }}
                <li><a href="#deployments">Failed Deployments ({{ $fdcnt }})</a></li>
            {{ end }}
            {{ if gt $fjcnt 0 }}
                <li><a href="#jobs">Failed Jobs ({{ $fjcnt }})</a></li>
            {{ end }}
            {{ if gt $fdscnt 0 }}
                <li><a href="#daemonsets">Failed DaemonSets ({{ $fdscnt }})</a></li>
            {{ end }}
        </ul>
    </p>

    {{ if gt $fdcnt 0 }}
    <div id="deployments">
        <a name="deployments"></a>
        <h3>Failed Deployments ({{ $fdcnt }})</h3>
        <ol>
        {{ range $deploymentname, $failedpods := .CError.FailedDeployments }}
            <li>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $deploymentname }}-deploymentCollapse" role="button" aria-expanded="false" aria-controls="{{ $deploymentname }}-deploymentCollapse">
                        {{ $deploymentname }}
                    </a>
                </p>
                <div class="collapse" id="{{ $deploymentname }}-deploymentCollapse">
                    <div class="card card-body">
                        <h5>Failed Pods</h5>
                        <ul>
                        {{ range $failedpod := $failedpods }}
                            <li>
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-Collapse">
                                            {{ $failedpod.Name }}
                                    </a>
                                </p>
                                <div class="collapse" id="{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-Collapse">
                                    <div class="card card-body">
                                        <div class="container ml-2">
                                            <h5>Status</h5>
                                            <table class="table table-bordered table-sm">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Name</th>
                                                        <td>{{ $failedpod.Name }}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Phase</th>
                                                        <td>{{ $failedpod.Phase }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Reason</th>
                                                        <td>{{ $failedpod.Reason }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Message</th>
                                                        <td>{{ $failedpod.Message }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>Conditions</h5>
                                            <table class="table table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">LastProbeTime</th>
                                                        <th scope="col">LastTransitionTime</th>
                                                        <th scope="col">Reason</th>
                                                        <th scope="col">Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {{ range $condition := $failedpod.Conditions }}
                                                    <tr>
                                                        <td>{{ $condition.Type }}</td>
                                                        <td>{{ $condition.Status }}</td>
                                                        <td>{{ $condition.LastProbeTime }}</td>
                                                        <td>{{ $condition.LastTransitionTime }}</td>
                                                        <td>{{ $condition.Reason }}</td>
                                                        <td>{{ $condition.Message }}</td>
                                                    </tr>
                                                {{ end }}
                                                </tbody>
                                            </table>
                                            <h5>Failed Containers</h5>
                                            <ul>
                                            {{ range $container := $failedpod.ContainerStatuses }}
                                                <li>
                                                    <p>
                                                        <a class="btn btn-primary" data-toggle="collapse" href="#{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse">
                                                                {{ $container.Name }}
                                                        </a>
                                                    </p>
                                                    <div class="collapse" id="{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse">
                                                        <div class="card card-body">
                                                            <div class="container ml-2">
                                                                <table class="table table-bordered table-sm">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Name</th>
                                                                            <td>{{ $container.Name }}</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">State</th>
                                                                            {{ if $container.State.Waiting }}
                                                                                <td>Waiting ({{ $container.State.Waiting.Reason }}): {{ $container.State.Waiting.Message }}</td>
                                                                            {{ else if $container.State.Running }}
                                                                                <td>Running</td>
                                                                            {{ else if $container.State.Terminated }}
                                                                                <td>Terminated</td>
                                                                            {{ end }}
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Exit Code</th>
                                                                            {{ if $container.State.Terminated }}
                                                                                <td>{{ $container.State.Terminated.ExitCode }}</td>
                                                                            {{ else }}
                                                                                <td>n/a</td>
                                                                            {{ end }}
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Ready</th>
                                                                            <td>{{ $container.Ready }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Restart Count</th>
                                                                            <td>{{ $container.RestartCount }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Image</th>
                                                                            <td>{{ $container.Image }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p>
                                                                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse" role="button" aria-expanded="false" aria-controls="{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse">
                                                                            Logs
                                                                    </a>
                                                                </p>
                                                                <div class="collapse" id="{{ $deploymentname }}-deployment-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse">
                                                                    <div class="card card-body">
                                                                        <pre class="pre-scrollable"><code>
{{ index $failedpod.Logs $container.Name | printf "%s"}}
                                                                        </code></pre>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </li>
                                            {{ end }}
                                            </ul>            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
            </li>
        {{ end }}
        </ol>
    </div>
    {{ end }}

    {{ if gt $fjcnt 0 }}
    <div id="jobs">
        <a name="jobs"></a>
        <h3>Failed Jobs ({{ $fjcnt }})</h3>
        <ol>
        {{ range $jobname, $failedpods := .CError.FailedJobs }}
            <li>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $jobname }}-jobCollapse" role="button" aria-expanded="false" aria-controls="{{ $jobname }}-jobCollapse">
                        {{ $jobname }}
                    </a>
                </p>
                <div class="collapse" id="{{ $jobname }}-jobCollapse">
                    <div class="card card-body">
                        <h5>Failed Pods</h5>
                        <ul>
                        {{ range $failedpod := $failedpods }}
                            <li>
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $jobname }}-job-pod-{{ $failedpod.Name }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ $jobname }}-job-pod-{{ $failedpod.Name }}-Collapse">
                                            {{ $failedpod.Name }}
                                    </a>
                                </p>
                                <div class="collapse" id="{{ $jobname }}-job-pod-{{ $failedpod.Name }}-Collapse">
                                    <div class="card card-body">
                                        <div class="container ml-2">
                                            <h5>Status</h5>
                                            <table class="table table-bordered table-sm">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Name</th>
                                                        <td>{{ $failedpod.Name }}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Phase</th>
                                                        <td>{{ $failedpod.Phase }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Reason</th>
                                                        <td>{{ $failedpod.Reason }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Message</th>
                                                        <td>{{ $failedpod.Message }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>Conditions</h5>
                                            <table class="table table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">LastProbeTime</th>
                                                        <th scope="col">LastTransitionTime</th>
                                                        <th scope="col">Reason</th>
                                                        <th scope="col">Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {{ range $condition := $failedpod.Conditions }}
                                                    <tr>
                                                        <td>{{ $condition.Type }}</td>
                                                        <td>{{ $condition.Status }}</td>
                                                        <td>{{ $condition.LastProbeTime }}</td>
                                                        <td>{{ $condition.LastTransitionTime }}</td>
                                                        <td>{{ $condition.Reason }}</td>
                                                        <td>{{ $condition.Message }}</td>
                                                    </tr>
                                                {{ end }}
                                                </tbody>
                                            </table>
                                            <h5>Failed Containers</h5>
                                            <ul>
                                            {{ range $container := $failedpod.ContainerStatuses }}
                                                <li>
                                                    <p>
                                                        <a class="btn btn-primary" data-toggle="collapse" href="#{{ $jobname }}-job-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ $jobname }}-job-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse">
                                                                {{ $container.Name }}
                                                        </a>
                                                    </p>
                                                    <div class="collapse" id="{{ $jobname }}-job-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse">
                                                        <div class="card card-body">
                                                            <div class="container ml-2">
                                                                <table class="table table-bordered table-sm">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Name</th>
                                                                            <td>{{ $container.Name }}</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">State</th>
                                                                            {{ if $container.State.Waiting }}
                                                                                <td>Waiting ({{ $container.State.Waiting.Reason }}): {{ $container.State.Waiting.Message }}</td>
                                                                            {{ else if $container.State.Running }}
                                                                                <td>Running</td>
                                                                            {{ else if $container.State.Terminated }}
                                                                                <td>Terminated</td>
                                                                            {{ end }}
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Exit Code</th>
                                                                            {{ if $container.State.Terminated }}
                                                                                <td>{{ $container.State.Terminated.ExitCode }}</td>
                                                                            {{ else }}
                                                                                <td>n/a</td>
                                                                            {{ end }}
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Ready</th>
                                                                            <td>{{ $container.Ready }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Restart Count</th>
                                                                            <td>{{ $container.RestartCount }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Image</th>
                                                                            <td>{{ $container.Image }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p>
                                                                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $jobname }}-job-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse" role="button" aria-expanded="false" aria-controls="{{ $jobname }}-job-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse">
                                                                            Logs
                                                                    </a>
                                                                </p>
                                                                <div class="collapse" id="{{ $jobname }}-job-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse">
                                                                    <div class="card card-body">
                                                                        <pre class="pre-scrollable"><code>
{{ index $failedpod.Logs $container.Name | printf "%s"}}
                                                                        </code></pre>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </li>
                                            {{ end }}
                                            </ul>            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
            </li>
        {{ end }}
        </ol>
    </div>
    {{ end }}

    {{ if gt $fdscnt 0 }}
    <div id="daemonsets">
        <a name="daemonsets"></a>
        <h3>Failed DaemonSets ({{ len .CError.FailedDaemonSets }})</h3>
        <ol>
        {{ range $daemonsetname, $failedpods := .CError.FailedDaemonSets }}
            <li>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $daemonsetname }}-daemonsetCollapse" role="button" aria-expanded="false" aria-controls="{{ $daemonsetname }}-daemonsetCollapse">
                        {{ $daemonsetname }}
                    </a>
                </p>
                <div class="collapse" id="{{ $daemonsetname }}-daemonsetCollapse">
                    <div class="card card-body">
                        <h5>Failed Pods</h5>
                        <ul>
                        {{ range $failedpod := $failedpods }}
                            <li>
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-Collapse">
                                            {{ $failedpod.Name }}
                                    </a>
                                </p>
                                <div class="collapse" id="{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-Collapse">
                                    <div class="card card-body">
                                        <div class="container ml-2">
                                            <h5>Status</h5>
                                            <table class="table table-bordered table-sm">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Name</th>
                                                        <td>{{ $failedpod.Name }}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Phase</th>
                                                        <td>{{ $failedpod.Phase }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Reason</th>
                                                        <td>{{ $failedpod.Reason }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Message</th>
                                                        <td>{{ $failedpod.Message }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>Conditions</h5>
                                            <table class="table table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">LastProbeTime</th>
                                                        <th scope="col">LastTransitionTime</th>
                                                        <th scope="col">Reason</th>
                                                        <th scope="col">Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {{ range $condition := $failedpod.Conditions }}
                                                    <tr>
                                                        <td>{{ $condition.Type }}</td>
                                                        <td>{{ $condition.Status }}</td>
                                                        <td>{{ $condition.LastProbeTime }}</td>
                                                        <td>{{ $condition.LastTransitionTime }}</td>
                                                        <td>{{ $condition.Reason }}</td>
                                                        <td>{{ $condition.Message }}</td>
                                                    </tr>
                                                {{ end }}
                                                </tbody>
                                            </table>
                                            <h5>Failed Containers</h5>
                                            <ul>
                                            {{ range $container := $failedpod.ContainerStatuses }}
                                                <li>
                                                    <p>
                                                        <a class="btn btn-primary" data-toggle="collapse" href="#{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse" role="button" aria-expanded="false" aria-controls="{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse">
                                                                {{ $container.Name }}
                                                        </a>
                                                    </p>
                                                    <div class="collapse" id="{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-Collapse">
                                                        <div class="card card-body">
                                                            <div class="container ml-2">
                                                                <table class="table table-bordered table-sm">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Name</th>
                                                                            <td>{{ $container.Name }}</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">State</th>
                                                                            {{ if $container.State.Waiting }}
                                                                                <td>Waiting ({{ $container.State.Waiting.Reason }}): {{ $container.State.Waiting.Message }}</td>
                                                                            {{ else if $container.State.Running }}
                                                                                <td>Running</td>
                                                                            {{ else if $container.State.Terminated }}
                                                                                <td>Terminated</td>
                                                                            {{ end }}
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Exit Code</th>
                                                                            {{ if $container.State.Terminated }}
                                                                                <td>{{ $container.State.Terminated.ExitCode }}</td>
                                                                            {{ else }}
                                                                                <td>n/a</td>
                                                                            {{ end }}
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Ready</th>
                                                                            <td>{{ $container.Ready }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Restart Count</th>
                                                                            <td>{{ $container.RestartCount }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Image</th>
                                                                            <td>{{ $container.Image }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p>
                                                                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse" role="button" aria-expanded="false" aria-controls="{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse">
                                                                            Logs
                                                                    </a>
                                                                </p>
                                                                <div class="collapse" id="{{ $daemonsetname }}-daemonset-pod-{{ $failedpod.Name }}-container-{{ $container.Name }}-logs-Collapse">
                                                                    <div class="card card-body">
                                                                        <pre class="pre-scrollable"><code>
{{ index $failedpod.Logs $container.Name | printf "%s"}}
                                                                        </code></pre>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </li>
                                            {{ end }}
                                            </ul>            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
            </li>
        {{ end }}
        </ol>
    </div>
    {{ end }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>