/* These classes are used by D3 */

.node circle {
    fill: #eee;
    stroke: #222223;
    stroke-width: 2px;
}

.node-label {
    font-size: 12px;
    font-weight: bold;
}

.link {
    fill: none;
    stroke: #ddd;
    stroke-width: 2px;
}

.status-icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.nscopybtn {
    text-align: center;
    padding-bottom: 3px;
}

.tree-tooltip {
    position: absolute;
    text-align: left;
    opacity: 0;
    padding: 8px;
    font-size: 12px;
    border-radius: 8px;
    pointer-events: none;
}

/* Spinner circle animation */
/* based on: https://glennmccomb.com/articles/building-a-pure-css-animated-svg-spinner/ */
.spinning-svg {
    animation: 2s linear infinite svg-animation;
    max-width: 100px;
}

/* SVG animation */
@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* Circle styles. */
.spinning-circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: #2f3d4c;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 3px;
    transform-origin: 0% 0% 0;
}

/* Circle animation. */
@keyframes circle-animation {
    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0deg);
    }

    50%,
    75% {
        /* the correct value varies depending upon circle radius */
        stroke-dashoffset: 235; /* radius: 10 */
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}

.k8sNamespacePodTable {
    background-color: #000000;
    text-align: left;
    color: #cccccc;
}